.main_container {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}

.main_1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: block;
}

.nested_large_con {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 0 30px;
}

.nested_large_header {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    -webkit-box-direction: normal;
}

.nested_large_header span {
    line-height: 32px;
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.nested_large_headerActions {
    margin-left: auto;
}

.nested_large_content {
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    background-color: #fff;
}

div

ul {
    list-style: none;
margin: 0;
padding: 0;
}

li {
    list-style: none;
}

.item {
    overflow: hidden;
    position: relative;
}

.item a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 104px 20px 20px;
    display: flex;
    background-color: transparent;
}

.thumbnail {
    margin-right: 10px;
    position: relative;
}

.thumbnail img{
    width: 80px;
    height: 80px;
    vertical-align: bottom;
    border: none;
}

.lazyload-wrapper {
    color: inherit;
}

.lazyload-wrapper img {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
    border: none;
}

.list_content {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.list_content h3 {
    line-height: 24px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
}

.list_content p{
    line-height: 20px;
    line-height: 20px;
    margin: 0 0 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 400;
    font-size: 13px;
    color: #6f6f6f;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.metaShadow {
    height: 24px;
}

.meta_data {
    display: flex;
    height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 20px;
    position: absolute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 110px;
}

.nested_large_actions {
    flex-shrink: 0;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
}

.action_button {
    margin-right: 10px;
    margin-right: 10px;
    color: #6f6f6f;
    fill: #6f6f6f;
    background: #fff;
    border-color: #e8e8e8;
    color: #000;
    fill: #000;
    height: 24px;
    padding: 0 8px;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
}

.font_1 {
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: inherit;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.font_2 {
    display: inline;
    /* line-height: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; */
}
.nested_large_actions_info {
    display: flex;
    list-style: none;
}

.info_topic{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #6f6f6f;
}

.info_font_1{
    line-height: 16px;
    line-height: 16px;
    font-size: 11px;
    color: #6f6f6f;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.sidebar_home {
    display: block;
    margin: 0 0 0 20px;
    width: 330px;
}

.sidebar_fst_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
 -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 0 20px;
}

.sidebar_fst_header {
    display: flex;
    webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    -webkit-box-direction: normal;
}

.sidebar_fst_content {
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    padding: 20px;
    background-color: #fff;
}

.sidebar_fst_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_fst_content li {
    -webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 20px;
display: flex;
-webkit-box-flex: 1;
}

.sidebar_fst_content a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
border-bottom: 1px solid #e8e8e8;
color: inherit;
    text-decoration: none;
background-color: transparent;
}

.item_con{
}

.fst_font {
    line-height: 20px;
line-height: 20px;
font-weight: 600;
font-size: 13px;
font-variant-numeric: tabular-nums;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.snd_font {
    line-height: 20px;
    line-height: 20px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px;
    color: #6f6f6f;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.trd_font {
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: #6f6f6f;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.fth_font {
    margin-left: auto;
    padding-left: 10px;
    -ms-flex-item-align: start;
    align-self: start;
}

.aside_img {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 3px;
    vertical-align: bottom;
    border: none;
}

.trd_font svg {
    height: 8px;
    width: 8px;
    margin-right: 5px;
}

.sidebar_snd_content{
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.sidebar_snd_item {
    padding-top: 0;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nested_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 20px;
}

.nested_con a {
    line-height: 20px;
    cursor: pointer;
    font-size: 13px;
}

.nested_con_actions{
    margin-top: 10px;
    user-select: none;
}

.nested_font_1 {
    line-height: 16px;
    cursor: pointer;
    font-size: 11px;
    color: #6f6f6f;
    font-variant-numeric: tabular-nums;
}

.nested_font_2{
    line-height: 16px;
    color: #6f6f6f;
    cursor: pointer;
    margin-left: 20px;
    white-space: nowrap;
    border: none;
    background: 0 0;
    padding: 0;
}

.nested_icon_1 {
    overflow: hidden;
    fill: #6f6f6f;
    width: 9px;
    height: 8px;
    viewBox: 0 0 9 8;
    /* line-height: 16px; */
    cursor: pointer;
}

.userImage{
    position: relative;
}

.lazyload-wrapper{}

.lazyload-wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: bottom;
    border: none;
}


.sider_button{
    background: 0 0;
    border: 1px solid #cc4d29;
    outline: 0;
    color: #cc4d29;
    fill: #000;
    width: 100%;
    height: 34px;
    padding: 0 13px;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
}

.view_all {
    line-height: 16px;
}

.main-slide{
    width: 350px;
    height: 150px;
}

.slider-header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

.slider-header span {
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
    font-variant-numeric: tabular-nums;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.main-slider-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    min-width: 320px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.profile-link{
    text-decoration: none;
    color: #333;
}

.profile-link:hover{
    text-decoration: none;
    color: #333;
}


.single-img{
    border-radius: 5px;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 225px;
    height: 250px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    overflow: hidden;
    transform: translate(0,0);
    transition: 0.3s;
}

.single-img:hover{
    transform: translate(0 , -9px);
}

.img-fig-one{
    background-image: url(http://127.0.0.1:8000/media/profileAvatar/IMG_20180723_230803_tKPJtyV.jpg);
    background-size: cover;
    background-position: center center;
}
.img-fig-two{
    background-image: url(http://127.0.0.1:8000/media/profileAvatar/IMG_20180723_230803_tKPJtyV.jpg);
    background-size: cover;
    background-position: center center;
}
.img-text{
    background: #fff;
    padding: 0 10px 5px 10px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(0, 110px);
    line-height: 24px;
    transition: 0.5s;
}

.img-text p i{
    padding-right: 20px;
}

.img-text h4 {
    line-height: 10px;
    padding: 0;
    margin: 16px 0;
    font-family: big john;
}

.single-img:hover .img-text {
    transform: translate(0,0);
}

