#video-container {
    width: 400px;
    height: 280px;
    margin: 0px auto;
    border: 2px solid #645cff;
    position: relative;
    box-shadow: 1px 1px 11px #9e9e9e;
}
  
    #video-container .my-video {
      width: 130px;
      position: absolute;
      left: 10px;
      bottom: 10px;
      border: 6px solid #2196F3;
      border-radius: 6px;
      z-index: 2;
    }
  
    #video-container .user-video {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    #video-container button {
      background-color: #d84a38;
      border: none;
      border-radius: 10px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 0.8em;
      margin: 0 0 1em 0;
      padding: 0.5em 0.7em 0.6em 0.7em;
    }
    
    #video-container button:active {
      background-color: #cf402f;
    }
    
    #video-container button:hover {
      background-color: #cf402f;
    }
    
    #video-container button[disabled] {
      color: #ccc;
    }
    
    #video-container button[disabled]:hover {
      background-color: #d84a38;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    #tabpanel {
      float: left;
      min-width: 80px;
      max-width: 140px;
      width: 40%;
      height: 100vh;
      padding-top: 50.1px;
      background: #2c3e50;
      color: #f5f5f5;
      overflow: hidden;
      position: relative;
      display: flex;
    }
  
    #frame .tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #1d6d24;
      min-width: 80px;
      max-width: 140px;
      width: 40%;
      height: 100vh;
    }

.resend-email {
  color: #000;
  transition: color 0.1s, background-color 0.1s;
}

.resend-email:hover{
  color: #11b1f0;
}