.resume_top-left-2{
  /* display: -ms-flexbox; */
  display: flex;
  /* -ms-flex-preferred-size: 34%; */
  flex-basis: 34%;
  /* -ms-flex-direction: column; */
  flex-direction: column;
  padding: 0 24px 0 0;
  align-self: flex-start;
  position: relative;
}
.resume_top-photo_wrapper-2 {
  /* -ms-flex-positive: 1; */
  flex-grow: 1;
}
.resume_top-photo_wrapper-2 {
  padding-top: 100%;
}
.resume_top-photo_wrapper-2 {
  width: 100%;
  height: 0;
  border-radius: 4px;
  /* padding-top: 63.3%;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,20px 100%,0 calc(100% - 20px)); */
  /* clip-path: polygon(0 0,100% 0,100% 100%,20px 100%,0 calc(100% - 20px)); */
  /* overflow: hidden; */
  position: relative;
}
.resume_top-info_name-2 {
  font-family: Proxima Nova,Arial,"sans-serif";
  color: #262d3d;
  font-size: 28px;
  font-weight: 300;
  line-height: 1em;
}
.resume_top-info_name-2 {
  /* color: #3863a0;
  font-family: Helvetica Neue,Helvetica,Arial,"sans-serif";
  font-size: 34px;
  font-weight: 400; */
  letter-spacing: .2px;
  /* line-height: 42px; */
}
.firstname-con, .firstname-con-label, 
.lastname-con, .lastname-con-label,
.profesion-con, .location-con, 
.myself-con-label {
  padding-bottom: 10px;
}
.user-name-input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#name, #myself {
  font-size: 1.3rem;
  text-decoration: underline;
}

#fname, #lname  {
  width: 100%; 
  height: 30px;
  size: 50px;
}

#fname::placeholder, #lname::placeholder {
  font-size: 15px;
  letter-spacing: 0.2rem;
}

.my-desc-textarea{
  overflow: hidden;
  overflow-wrap: break-word;
  resize: horizontal;
  height: 100px;
  width: auto;
}

.my-desc-textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
  min-height: 10rem;
  margin: 0;
  transition: height 0.2s;
}
.short-desc-cont, .employment-list-cont{
  display: block;
  margin-right: 0;
  padding: 0;
  height: auto;
  width: 100%
}
.resume_section-content_item-2 {
  list-style-type: upper-roman;
  padding: 0 0 3px;
}
.resume_section-content_item-2 li {
  list-style: decimal;
  padding: 0 0 3px;
}
#name, #lastname, #myself, #profesion, #location {
  font-size: 1.3rem;
  text-decoration: underline;
}
.short-desc-profession, .short-desc-location {
  display: inline-block;
  margin-right: 0;
  padding-bottom: 10px;
  height: auto;
  width: inherit;
}
#ifname, #ilname, #iprofesion, #ilocation {
  font-size: 0.8rem;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
}
.employment-duration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%
}
.employment-duration-from, .employment-duration-to{
  /* flex-grow: 1; */
  padding: 0 20px;
}

.ui-datepicker-calendar {
  display: block;
}
.ui-datepicker-month {
  display: block;
}
.ui-datepicker-next,.ui-datepicker-prev {
 display:block;
}

.employment-comapny-name, .employment-location{
  padding: 10px 0px;
  font-size: 17px;
}
.employment-duration-from label, 
.employment-duration-to label,
.employment-comapny-name label, 
.employment-location label {
  padding-right: 10px;
}
.employment-comapny-name input, 
.employment-location input {
  padding-left: 10px;
  font-size: 17px;
  width: 80%;
}
.employment-actions-add, 
.employment-actions-remove,
.pos-desc-add,
.pos-desc-remove{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.employment-actions-add a{
  padding: 10px 10px;
  width: 20%;
  margin: 0px 10px;
  text-align: center;
}
.employment-actions-remove a{
  padding: 10px 10px;
  text-align: center;
}
.job-pos-desc{
  display: block;
  font-size: 17px;
}
.job-position-cont{
  padding-bottom: 10px;
}
.job-position-cont input{
  width:80%;
  padding-left: 10px;
}
.job-pos-desc-textarea textarea{
  width:100%;
  padding-left: 10px;
  height: 5rem;
  font-size: 15px;
}
.pos-desc-add a, .pos-desc-remove a{
  padding: 0 20px;
  margin: 0 10px;
}
.employ-skills-techno{
  display: flex;
  font-size: 17px;
  flex-direction: row;
  justify-content: space-around;
}
.academic-grade-cont {
  display: flex;
  height: auto;
  padding-bottom: 1rem;
  justify-content: center;
  border-bottom: 2px dotted darkblue;
}
.undergrad-cont,
.bachelor-cont,
.master-cont,
.phd-cont,
.other-edu-cont:not(:last-child) {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 1rem;
  justify-content: center;
  border-bottom: 2px dotted darkblue;
}

.undergrad-row-cont,
.bachelor-row-cont,
.master-row-cont,
.phd-row-cont,
.other-edu-row-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.undergrad-student-type {
  align-self: center;
  padding-bottom: 20px;
  font-size: 17px;
}
.academic-grade-label, 
.undergrad-education-label,
.undergrad-education,
.undergrad-institution,

.bachelor-education-label,
.bachelor-education,
.bachelor-institution,
.master-education-label,
.master-education,
.master-institution,
.phd-education-label,
.phd-education,
.phd-institution,
.other-education-label,
.other-education,
.other-edu-institution,
.other-edu-institution-label {
  padding-bottom: 20px;
  font-size: 17px;
}
.undergrad-duration,
.bachelor-duration,
.master-duration,
.phd-duration,
.other-edu-duration {
  display:flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}
.undergrad-duration-from,
.undergrad-duration-to,
.bachelor-duration-from,
.bachelor-duration-to,
.master-duration-from,
.master-duration-to,
.phd-duration-from,
.phd-duration-to,
.other-edu-duration-from,
.other-edu-duration-to {
  padding: 0 20px;
}
.edu-actions-add, 
.edu-actions-remove {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.edu-actions-add a{
  width: 3rem;
  text-align: center;
}
.edu-actions-remove a{
  padding: 10px 10px;
}
.techs-select .techs-select--multiple{

}
.techs-select:not(.techs-select--multiple)::after

.techs-select[multiple] {
  padding-right: 0;
}
.techs-select[multiple] option {
  white-space: normal;
}
#techs-multi-select{

}

.s2-example {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #eee;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.s2-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
      margin-right: -15px;
      margin-left: -15px;
  /* background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee; */
  border-style: solid;
  /* border-width: 1px 0; */
}

.s2-example p {
  margin: 1.7rem 0;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; */
}

.form-control {
  width: 100%;
  display: block;
}

.select-box {
  position: relative;
  display: flex;
  width: 200px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;

  position: relative;
  /* z-index: 100; */
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  /* background: url("img/arrow-down.svg"); */
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 104px;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* Searchbox */

.search-box input {
  width: 100%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: absolute;
  border-radius: 8px 8px 0 0;
  z-index: 100;
  border: 8px solid #2f3640;

  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.search-box input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}
