.navbar-item-in-searcher{
    position: relative;
    top: 5px;
}
.search_9f7e4 {
    width: 300px;
}
.form_6d416 {
    position: relative;
    margin: 0 5px 0 0;
    width: 100%;
}
.lineHeight_042f1.small_231df {
    line-height: 20px;
}
.lineHeight_042f1.small_231df {
    line-height: 20px;
}
.normal_d2e66 {
    font-weight: 400;
}
.small_231df {
    font-size: 13px;
}
.font_9d927 {
    font-variant-numeric: tabular-nums;
}
.font_9d927 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.searchIcon_11e88 {
    fill: #6f6f6f;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 14px;
}
svg:not(:root) {
    overflow: hidden;
}
.searchIcon_11e88 {
    fill: #6f6f6f;
}
.lineHeight_042f1.small_231df {
    line-height: 20px;
}
.lineHeight_042f1.small_231df {
    line-height: 20px;
}
.normal_d2e66 {
    font-weight: 400;
}
.small_231df {
    font-size: 13px;
}
.font_9d927 {
    font-variant-numeric: tabular-nums;
}
.font_9d927 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.input_277cf {
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.input_277cf {
    background: rgb(255, 255, 255);
    color: #6f6f6f;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 0 10px 0 32px;
    width: 100%;
}
.close_067e5 {
    display: none;
}
/* .close_067e5 {
    display: none;
} */