img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

#session-div-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  /* width: 400px;
  height: auto; */
  /* width={272}
  height={168} */
  width: 130px;
  height: 150px;
  /* min-height: 300px;
  max-height: 600px; */
  /* style={{width: 450, height:650}} */
}

#session-div-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 400px;
    height: auto; */
    width: 30%;
    height: 200px;
    min-height: 300px;
    max-height: 600px;
  }

  .contain {
    /* width: 150px;
    height: 100px; */
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-shadow: 0px 5px 10px #aaaaaa;
    object-fit: contain;
    border-radius: 20%;
  }
  
  .cover {
    object-fit: cover;
  }

  .td{
    color:black;
  }

  .td:hover{ 
    color:rgb(0, 132, 255);
    }

    .session-summary {
      float:left;
      width:630px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
     }
     .summary h3 {
      font-size:15px;
      line-height:1.4;
      margin-bottom:.5em
     }
     .excerpt {
      padding:0;
      padding-bottom:5px;
      margin:0;
     }
     .excerpt .started {
      float:right;
      width:185px;
      height:55px;
      margin-top:5px
     }
     .excerpt p {
      margin-bottom:3px
     }
     .excerpt .tags {
      width:410px;
      margin-top:5px
     }
     .excerpt .join {
      float:left;
     }
     .tags {
      line-height:18px;
      float:right
     }
     .tags a:hover {
      text-decoration:none
     }
     .started {
      width:200px;
      float:right;
      line-height:18px
     }
  
     .started img {
      vertical-align:baseline
     }
     .started .user-action-time {
      margin-bottom:2px
     }
     .started .reputation-score,
     .started .user-info {
      color:var(--black-400)
     }
     .started .mod-flair,
     .started a:not(.started-link) {
      font-size:12px;
      color:var(--blue-600)
     }
     .started .mod-flair:hover,
     .started a:not(.started-link):hover {
      color:var(--blue-500)
     }
     .started-link {
      font-size:12px;
      color:var(--black-350)
     }
     .started-link:hover {
      color:var(--blue-600)
     }

     .summary-fst-row-con, .summary-last-row-con{}
     .views, .author, .join{
      flex:1 auto;
      width:auto;
      float:left;
      margin:0;
      overflow:hidden
    }
  
    .college, .time {
        flex:1 auto;
        width:auto;
        float:right;
        margin:0;
        overflow:hidden;
        font-size: 0.9em;
        line-height:18px;
    }

  .more-info-button a{
    color: #fff;
    background-color: #40a9ff;
    border-color: 1px #40a9ff;
    padding: 10px;
    box-shadow: 3px 3px 5px 1px #bdbbbb;
  }

  .more-info-button a:hover{
    background: #fff;
    color: #40a9ff;
    background-color: rgb(255, 255, 255);
  }